nav {
  position: relative;
  animation: slideIn 1.25s forwards;
}

@keyframes slideIn {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}


h1, h2, h3, p, ul {
  animation: fadeIn 3s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* nastavení těla stránky */
h1 {
  color: red;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/bgig.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* nastavení záhlaví */
header {
  background-color: #0b0ed8;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}
header h1 {
  font-size: 3em;
}
header p {
  font-size: 2em;
}
/* nastavení hlavní části */
main {
  background-color: yellow;
  width: 1200px;
  margin: 50px auto;
}
h2 {
  text-align: center;
}
/* nastavení flexboxu */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container div {
  background-color: #089b8f;
  padding: 20px;
  margin: 20px;
  flex: 25%;
}

a:hover {
  background-color: blue;
  color: white;
}
/* Přidání černé barvy pozadí do horní navigace */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Stylování odkazů uvnitř navigačního panelu */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Změna barvy odkazů při najetí myší */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Přidání barvy aktivnímu/aktuálnímu odkazu */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
/* responzivní design */
@media screen and (max-width: 1200px) {
  main {
    width: 90%;
  }

  .flex-container {
    flex-direction: column;
  }
}
